/* BASIC STYLES HERE */

:root {
  --bg-dark: #000000;
  --bg-light: #ffffff;
  --bg-primary: darkgrey;

  --text-light: #ffffff;
  --text-dark: #000000;
}

header {
  background-color: var(--bg-dark);
  color: var(--text-light);
  padding-left: 3em;
  padding-right: 3em;
}

.new-trip {
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
}

.reservation-window {
  background-color: var(--bg-light);
  margin-top: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

.tab-bar {
  background-color: var(--bg-dark);
  color: var(--text-light);
  display: flex;
  justify-content: space-between;
}

.tab {
  padding-left: 1em;
  padding-right: 1em;
  background-color: var(--bg-primary);
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
}

/* .add-trip {

} */

.selected-tab {
  border-bottom: 0px;
  background-color: var(--bg-light);
  color: var(--text-dark);
}

.tab-left, .tab-right {
  display: none
}

.reservation-legend {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: var(--bg-primary);
}

.reservation {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: var(--bg-primary);
}

.new-reservation-bar {
  display: flex;
  justify-content: space-between;
}

.reservation-input {
  width: 100%;
}

.reservation-button {
  width: 100%;
}

footer {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.d-flex {
  display: flex;
}